.site-footer {
    border-top: 16px solid $textColor;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .social-list li {
        font-size: 3rem;
    }
}
.footer-content-container {
    max-width: $footerMaxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.footer-logo-container {
    text-align: center;
}


.footer-row {

    > * {
        margin-bottom: 2rem;
    }
    
    @media(min-width: $large) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-list {
        justify-content: center;
    }
}

#sidebar-footer {
    max-width: 80ch;
    margin-top: 4rem;
}