#masthead {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    background: $backgroundColor;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .custom-logo {
        display: block;
        width: 100%;
        max-width: 332px;
        height: auto;
    }
}

#primary-mobile-menu {
    display: flex;
    padding: 1rem;
    background-color: $backgroundColor;
    height: 6rem;
    width: 6rem;
    position: relative;

    > * {
        width: 6rem;
        height: 0.75rem;
        background-color: $textColor;
        position: absolute;
        transform: translateY(-50%);
        transition: 300ms transform, 150ms top;

        &:nth-child(1) {
            top: 30%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            top: 70%;
        }
    }

    &:focus-visible {
        outline: 2px dotted $textColor;
    }

    &[aria-expanded="true"] {

        > *:nth-child(1) {
            // left: 50%;
            top: 50%;
            transform: rotateZ(-45deg) translateY(-25%);
        }

        > *:nth-child(2) {
            display: none;
        }

        > *:nth-child(3) {
            // left: 50%;
            top: 50%;
            transform: rotateZ(45deg) translateY(-25%);
        }
    }
}

.primary-navigation {

}

.menu-button-container {

}

#site-navigation-menus {
    position: fixed;
    width: 100%;
    max-width: 50rem;
    max-height: calc(100vh - 15rem);
    min-height: 50rem;
    right: -100%;
    background-color: $primaryAccentColor;
    transition: 200ms right ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    color: $backgroundColor;
    padding-top: 2rem;

    a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 0.5rem 2rem;
    }

    ul:not(.social-list) {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 1.8rem;

        li {
            margin: 0;
            padding: 0;
        }

        &.sub-menu {
            background-color: $backgroundColor;
            color: $primaryAccentColor;
            border-top: 10px solid $logoGreen;
            margin-bottom: 2rem;

            li a {
                padding-right: 3rem;
                box-sizing: border-box;
            }

            .sub-menu {
                border-top: none;
                background-color: darken($backgroundColor, 12.5%);
                margin-bottom: 0;

                li {
                    margin-left: 3rem;
                    font-size: 90%;
                }
            }
        }
    }

    .sub-menu {
        display: none;
    }

    li.menu-item-has-children {
        position: relative;
    }

    li.menu-item-has-children:hover > .sub-menu {
        display: block;
    }

    &[aria-expanded="true"] {
        right: 0;
        z-index: 10;
    }

    .social-list {
        justify-content: flex-start;
        padding-left: 2rem;
        margin: 2rem 0;

        a {
            padding: 0.5rem;
            font-size: 3rem;
        }
    }
}

.primary-menu-wrapper {

}

.sub-menu > li.menu-item-has-children {

    &::after {
        position: absolute;
        content: '\25B6';
        color: $textColor;
        top: 1.33em;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 75%;
        transition: 150ms transform ease-in-out;
    }

    &:hover::after {
        transform: translateY(-50%) rotateZ(90deg);
    }
}

.secondary-menu-wrapper {
    background-color: $logoGreen;
    text-transform: uppercase;
    padding-top: 2rem;
}

.site-nav-search form {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 2rem;

    input[type="text"] {
        border-radius: 0 0.5rem 0.5rem 0;
        border: none;
        background-color: $backgroundColor;
        font-size: 1.5rem;
        margin-left: -1px;
        font-family: inherit;

        &::placeholder {
            text-transform: uppercase;
            color: $primaryAccentColor;
            font-weight: bold;
        }

        &:focus {
            outline: 2px dotted $backgroundColor;
            background-color: white;
        }
    }

    button[type="submit"] {
        border-radius: 0.5rem 0 0 0.5rem;
        background-color: $backgroundColor;
        border: none;
        font-size: 2rem;
        padding: 1.5rem;
        color: $primaryAccentColor;

        &:focus, &:hover {
            background-color: white;
        }

        &:focus-visible {
            outline: 2px dotted $backgroundColor;
        }
    }
}

@media(min-width: $navBreak) {
    .admin-bar #masthead {
        top: 32px;
    }

    .header-content-container {
        padding-top: 0;
        width: 100%;
        max-width: $navMaxWidth;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
        box-sizing: border-box;
        flex-wrap: nowrap;
    }

    .site-logo {
        flex-shrink: 1;
    }

    #primary-mobile-menu {
        display: none;
    }

    #site-navigation-menus {
        position: relative;
        right: unset;
        background-color: unset;
        color: $textColor;
        width: unset;
        max-width: unset;
        height: unset;
        min-height: unset;
        max-height: unset;
        padding-top: unset;
        overflow-x: unset;
        overflow-y: unset;
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: flex-end;

        .social-list {
            justify-content: flex-end;
            padding-left: 1rem;
            margin: unset;
            padding-right: 0;
    
            a {
                padding: 0.125rem;
                font-size: 2rem;
            }
        }
    }

    .primary-menu-wrapper {
        display: flex;
        align-items: center;
        padding-top: 1rem;
    }

    .primary-menu-container {
        padding-right: 4rem;
    }

    #primary-menu-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &.menu-wrapper{

            li {
                position: relative;

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;
                    background-color: $primaryAccentColor;
                    font-size: min(1.8rem, calc(0.25rem + 0.925vw));

                    .sub-menu {
                        top: 0;
                        left: 100%;
                        width: fit-content;
                        background-color: darken($primaryAccentColor, 5%);

                        li {
                            margin-left: 0;
                            font-size: 100%;
                        }
                    }

                    li a {
                        color: $backgroundColor;
                        font-size: inherit;
                    }

                    li:hover, li:focus-within {
                        background-color: rgba(0, 0, 0, 0.25);
                        transition: 150ms background-color ease-in-out;

                        &::after {
                            transform: translateY(-50%) rotateZ(0deg);
                        }
                    }
                }

                &:hover > .sub-menu, &:focus-within > .sub-menu {
                    display: block;
                }
            }

        }

        li a {
            font-size: min(2rem, calc(0.25rem + 1vw));
        }
    }

    .secondary-menu-wrapper {
        display: flex;
        border-radius: 0 0 1rem 1rem;
        align-items: center;
        padding-top: 0;
    }

    #secondary-menu-list {
        display: flex;

        li a {
            font-size: 1.4rem;
            font-weight: bold;
            color: $backgroundColor;
        }
    }

    .site-nav-search form {
        padding: 0.5rem 2rem 1rem;

        input[type="text"] {
            background: transparent;
            border-radius: 0;
            border-bottom: 2px solid transparent;
            padding: 0.5rem 1rem 0.25rem;
            line-height: 1;
            width: 10ch;
            color: $backgroundColor;

            &::placeholder {
                color: $backgroundColor;
            }

            &:focus {
                background-color: transparent;
                outline: none;
                border-color: $backgroundColor;
            }
        }

        button[type="submit"] {
            font-size: 1.5rem;
            background: transparent;
            border-radius: none;
            color: $backgroundColor;
            padding: 0 1rem;

            &:hover, &:focus {
                background-color: $primaryAccentColor;
            }
        }
    }
}